# SPDX-FileCopyrightText: Thilo Fromm <thilo.alexander@gmail.com>
# SPDX-FileCopyrightText: James Le Cuirot <chewi@aura-online.co.uk>
# SPDX-FileCopyrightText: Timothée Ravier <tim@siosm.fr>
# SPDX-License-Identifier: Apache-2.0
#
# Redirect caddyfile for processing systemd-sysupdate requests.
#
# This Caddyfile will redirect incoming requests to GitHub releases, making it
# appear to clients like systemd-sysupdate as if all sysexts released are in
# the same directory.
# For clients, the directory layout looks like e.g.:
#
# SHA256SUMS
# kubernetes-1.30.2-f41-aarch64.raw
# kubernetes-1.30.2-f41-x86-64.raw
# kubernetes-1.30.2-f42-aarch64.raw
# kubernetes-1.30.2-f42-x86-64.raw
# kubernetes-1.30.4-f41-aarch64.raw
# kubernetes-1.30.4-f41-x86-64.raw
# kubernetes-1.30.4-f42-aarch64.raw
# kubernetes-1.30.4-f42-x86-64.raw
# kubernetes-1.30.conf
# ...
#
# while in fact requests are being redirected to GitHub releases depending on
# which pattern matches the request.
#
# This is heavily inspired from:
# https://github.com/flatcar/sysext-bakery/blob/main/tools/http-url-rewrite-server/Caddyfile
# which is distributed under the Apache License 2.0
#
# Logic for each group of redirections:
#
# Extension image:
#   <name>/<extension>.raw (<extension> = <name>-<version>-<release>-<arch>)
#     ==>  https://[...]/releases/download/<extension>/<extension>.raw
#
# Extension sysupdate conf (short URL for installation)
#   <name>.conf
#     ==>  https://[...]/releases/download/<name>/<name>.conf
#
# Extension sysupdate conf (namespaced URL)
#   <name>/<name>.conf
#     ==>  https://[...]/releases/download/<name>/<name>.conf
#
# Extension specific SHA file with extension name in path
#     <name>/SHA256SUMS
#       ==>  https://[...]/releases/download/<name>/SHA256SUMS
#
# Global SHA256SUMS file with all extensions
#     SHA256SUMS
#       ==>  https://[...]/releases/download/latest/SHA256SUMS
#
# For testing locally, use:
# podman run --rm -ti -v $PWD/Caddyfile:/etc/caddy/Caddyfile:Z -p 8080:8080 --user 1000:1000 docker.io/caddy:latest

{
    # Disable admin interface
    admin off
    # Only use the explicitly provided config
    persist_config off
}

http://:8080 {
    # Redirect community extensions
    vars community_url "https://github.com/fedora-sysexts/community/releases/download"

    @community_raw path_regexp community_raw ^.*/community/([^/]+)/([^/]+).raw$
    redir @community_raw {vars.community_url}/{re.community_raw.2}/{re.community_raw.2}.raw

    @community_gconf path_regexp community_gconf ^.*/community/([^/]+).conf$
    redir @community_gconf {vars.community_url}/{re.community_gconf.1}/{re.community_gconf.1}.conf

    @community_econf path_regexp community_econf ^.*/community/([^/]+)/([^/]+).conf$
    redir @community_econf {vars.community_url}/{re.community_econf.1}/{re.community_econf.1}.conf

    @community_esha path_regexp community_esha ^/community/([^/]+)/SHA256SUMS$
    redir @community_esha {vars.community_url}/{re.community_esha.1}/SHA256SUMS

    @community_gsha path_regexp community_gsha ^/community/SHA256SUMS$
    redir @community_gsha {vars.community_url}/latest/SHA256SUMS

    # Redirect fedora extensions
    vars fedora_url "https://github.com/fedora-sysexts/fedora/releases/download"

    @fedora_raw path_regexp fedora_raw ^.*/fedora/([^/]+)/([^/]+).raw$
    redir @fedora_raw {vars.fedora_url}/{re.fedora_raw.2}/{re.fedora_raw.2}.raw

    @fedora_gconf path_regexp fedora_gconf ^.*/fedora/([^/]+).conf$
    redir @fedora_gconf {vars.fedora_url}/{re.fedora_gconf.1}/{re.fedora_gconf.1}.conf

    @fedora_econf path_regexp fedora_econf ^.*/fedora/([^/]+)/([^/]+).conf$
    redir @fedora_econf {vars.fedora_url}/{re.fedora_econf.1}/{re.fedora_econf.1}.conf

    @fedora_esha path_regexp fedora_esha ^/fedora/([^/]+)/SHA256SUMS$
    redir @fedora_esha {vars.fedora_url}/{re.fedora_esha.1}/SHA256SUMS

    @fedora_gsha path_regexp fedora_gsha ^/fedora/SHA256SUMS$
    redir @fedora_gsha {vars.fedora_url}/latest/SHA256SUMS

    # Redirect known community extensions from generic 'extensions' path
    @community_ext_raw path_regexp community_ext_raw ^.*/extensions/(1password-cli|1password-gui|bandwhich|bitwarden|cilium-cli|cloud-hypervisor|dnclient|docker-ce|glab|google-chrome|incus|microsoft-edge|mullvad-vpn|nordvpn-gui|nordvpn|openconnect|openh264|tailscale|vagrant|virtctl|vscode|vscodium|wasmtime|youki[^/]*)/([^/]+).raw$
    redir @community_ext_raw {vars.community_url}/{re.community_ext_raw.2}/{re.community_ext_raw.2}.raw

    @community_ext_gconf path_regexp community_ext_gconf ^.*/extensions/(1password-cli|1password-gui|bandwhich|bitwarden|cilium-cli|cloud-hypervisor|dnclient|docker-ce|glab|google-chrome|incus|microsoft-edge|mullvad-vpn|nordvpn-gui|nordvpn|openconnect|openh264|tailscale|vagrant|virtctl|vscode|vscodium|wasmtime|youki[^/]*).conf$
    redir @community_ext_gconf {vars.community_url}/{re.community_ext_gconf.1}/{re.community_ext_gconf.1}.conf

    @community_ext_econf path_regexp community_ext_econf ^.*/extensions/(1password-cli|1password-gui|bandwhich|bitwarden|cilium-cli|cloud-hypervisor|dnclient|docker-ce|glab|google-chrome|incus|microsoft-edge|mullvad-vpn|nordvpn-gui|nordvpn|openconnect|openh264|tailscale|vagrant|virtctl|vscode|vscodium|wasmtime|youki[^/]*)/([^/]+).conf$
    redir @community_ext_econf {vars.community_url}/{re.community_ext_econf.1}/{re.community_ext_econf.1}.conf

    @community_ext_esha path_regexp community_ext_esha ^/extensions/(1password-cli|1password-gui|bandwhich|bitwarden|cilium-cli|cloud-hypervisor|dnclient|docker-ce|glab|google-chrome|incus|microsoft-edge|mullvad-vpn|nordvpn-gui|nordvpn|openconnect|openh264|tailscale|vagrant|virtctl|vscode|vscodium|wasmtime|youki[^/]*)/SHA256SUMS$
    redir @community_ext_esha {vars.community_url}/{re.community_ext_esha.1}/SHA256SUMS

    # Redirect all other generic path extensions to fedora one
    @raw path_regexp raw ^.*/extensions/([^/]+)/([^/]+).raw$
    redir @raw {vars.fedora_url}/{re.raw.2}/{re.raw.2}.raw

    @gconf path_regexp gconf ^.*/extensions/([^/]+).conf$
    redir @gconf {vars.fedora_url}/{re.gconf.1}/{re.gconf.1}.conf

    @econf path_regexp econf ^.*/extensions/([^/]+)/([^/]+).conf$
    redir @econf {vars.fedora_url}/{re.econf.1}/{re.econf.1}.conf

    @esha path_regexp esha ^/extensions/([^/]+)/SHA256SUMS$
    redir @esha {vars.fedora_url}/{re.esha.1}/SHA256SUMS

    @gsha path_regexp gsha ^/extensions/SHA256SUMS$
    redir @gsha {vars.fedora_url}/latest/SHA256SUMS

    # Nothing matched, redirect to the website
    redir https://fedora-sysexts.github.io{uri}
}
